<div class="modal" tabindex="-1" id="portfolioModal-qmcd" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content container">

      <div class="modal-header">
        <div class="header-title">Modal title</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr>
      <img src="https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/game.png">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
