#greeting #pt1, #greeting #pt2 {
  font-size: 78px;
}

#greeting #pt2 {
  font-weight: bold;
}

#headshot-picture {
  height: 423px;
}

.info-body {
  padding: 15px;
  background-color: #F1F9FF;
  border-radius: 8px;
  margin: 15px 0px;
}

.info-header {
  background-color: #2D445F;
  color: white;
}

@media (max-width: 576px) {
  #headshot-picture {
    height: 300px;
  }
}

.flag-icon-ca {
  background-image: url(../assets/img/ca.svg);
}


.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}

span.flag-icon.flag-icon-ca {
  font-size: 2em;
  margin: 8px 7px;

}

#section-location {
  height: auto;
  background-color: #233237;
  color: white;
  padding-top: 10px;
}

div#section-location {
  font-size: 25px;
}
