<app-navigation></app-navigation>
<div>
  <!-- ALL YOU NEED TO KNOW-->
  <div class="section" id="section-intro" style="background-color:#E2E2E2">
    <div class="container-fluid d-flex flex-md-row flex-column pt-3" style="background-color: #E2E2E2">
      <div class="order-2 pr-3" style="flex-grow: 2">
        <div id="greeting">
          <span id="pt1">HI, I'M</span>
          <span id="pt2"> JONATHAN</span>
        </div>
        <div id="AYNTK">
          <span class="header-title">ALL YOU NEED TO KNOW</span>
        </div>
        <div class="text-center">
          <div class="row">
            <div class="col-md-4 col-sm">
              <div class="info-header">Education</div>
              <div class="info-body">
                <p class="info-text">Computer Science BSc. at Simon Fraser University</p>
                <img src="assets/img/fas.png" style="height: 100px">
              </div>
            </div>
            <div class="col-md-4 col-sm">
              <div class="info-header">Interested Areas</div>
              <div class="info-body">
                <ul>
                  <li>Web Development</li>
                  <li>Full Stack</li>
                  <li>Django Development</li>
                  <li>Angular Development</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm">
              <div class="info-header">Languages and Libraries</div>
              <div class="info-body">
                <ul>
                  <li>Python</li>
                  <li>JavaScript</li>
                  <li>Django</li>
                  <li>Angular 2+</li>
                  <li>Django</li>
                  <li>React Js</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm">
              <div class="info-header">Volunteer</div>
              <div class="info-body">
                <strong>Scout Leader</strong>
                <p class="info-text">
                  Member of the 33rd Kerrisdale Scout Group for 6 years.

                  Joined at the age of 14 as a member and now leader position
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm">
              <div class="info-header">Hobbies and Interests</div>
              <div class="info-body">
                <ul>
                  <li>Learning new languages</li>
                  <li>Building computers</li>
                  <li>New Technologies</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm">
              <div class="info-header">Other Skills</div>
              <div class="info-body">
                <ul>
                  <li>Adobe Suite(PhotoShop, Illustrator)</li>
                  <li>Medium Fidelity Rapid Prototyping (Adobe XD, Axure)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-sm-center text-md-left order-1 order-md-2" style="flex-grow: 1;">
        <img id="headshot-picture" src="assets/img/headshot.png">
      </div>
      <!-- ALL YOU NEED TO KNOW END-->
    </div>
    <!-- PROJECTS-->
  </div>
  <!-- ALL YOU NEED TO KNOW END-->

  <!--PROJECTS -->
  <div class="section" id="section-projects">
    <span class="header-title">PROJECTS</span>
    <div class="d-flex flex-wrap justify-content-center" style="background-color: #F5F5F5">
      <div class="portfolio-item">
        <img src="assets/img/thumbnail-carbon-tracker.png">
        <div class="portfolio-caption d-flex justify-content-between">
          <div class="portfolio-item-name">Carbon Tracker</div>
          <div>DATE: August 2017</div>
        </div>
      </div>
      <div class="portfolio-item">
        <img src="assets/img/thumbnail-scout33.png">
      </div>
      <div class="portfolio-item">
        <img src="assets/img/thumbnail-oas.png">
      </div>
      <div class="portfolio-item">
        <img src="assets/img/thumbnail-galton.png">
      </div>
      <div class="portfolio-item">
        <img src="assets/img/thumbnail-mps.png">
      </div>
    </div>
  </div>
</div>

