body {
  font-family: 'Roboto', sans-serif !important;
}

.header-title {
  font-size: 65px;
  font-weight: bold;
}

.section {
  padding: 2px 90px;
}

@media (max-width: 576px) {
  .section {
    padding: 0 0;
  }
}

.modal-dialog {
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  margin: 0 !important;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal {
  padding-right: 0px !important;
}

.screenshot {
  width: 500px;
}
